/*.todomain .list li{
    color:#333;
    padding: 15px;
    list-style: none;
    background-color: rgba(240,240,240,.5);
    border-radius: 5px;
    margin-bottom: 15px;
    width: 220px;
    margin-left: 520px;
    font-size: 16px;
    margin-top: 10px;
}*/
.todomain .list li{
    margin-top: 10px;
}